
<article class="{{ article.post_type }} {{ article.post_name }}">
    <h3>{{ article.post_title }}</h3>
    <p>
        {{ article.author_image }}
        {{ article.post_excerpt }}
    </p>
</article>
